:root {
    --color-primary: #9E1318;
    --color-secondary: #CEAC5C;
    --color-tertiary: #125C27;
    --color-button: #E0AA3E;
    --color-button-hover:#E0AA3E;
    --color-text: #9E1318;
    --color-white: gray;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 10px solid #9E1318;
    border-radius: 64px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 60px;
    font-family: "Dancing Script", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

.button-reset {
    width: 300px;
    margin: 20px;
    justify-content: center;
}

button:disabled {
    background-color: gray;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 10;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: #FFFFFF;
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #23B55E;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #ffffff;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #125C27, 0 0 10px #125C27, 0 0 15px #125C27, 0 0 20px #125C27, 0 0 25px #125C27, 0 0 30px #125C27, 0 0 35px #125C27;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 20px;
    font-weight: bold;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-refresh {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 20px;
    font-weight: bold;
}

.button-refresh img {
    margin-right: 40px;
}

.button-refresh:hover {
    background-color: var(--color-button-hover);
}
